body{
   background: lightskyblue;
}
h1{
    text-align: center;
    font-weight: bold;
    color: green;
}
h2{
    text-align: left;
    color: green;
}
h3{
    text-align: center;
    font-weight: bold;
}
p{
    text-align: justify center;
    color: whitesmoke;
    font-size: 20px;
}
img{
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}
.tartalom{
    background-color: lightskyblue;
    width: 1489px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}