body{
    margin: auto;
    width: 90%;
    background-size: 1em;
}
h1{
    text-align: center;
    height: 100px;
    color: green;
    font-weight: bold;

}
h2{
    text-align: center;
    
}
h3{
    text-align: center;
}
.carousel-inner img{
    width: 100%;
    height: 90%;
}